<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-liz">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `header-liz`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderLiz extends Polymer.Element {
      static get is() { return 'header-liz'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-liz'
          }
        };
      }
    }

    window.customElements.define(HeaderLiz.is, HeaderLiz);
  </script>
</dom-module>
