<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-liz">
    <template>
        <style>
          /*:host(.icon2){
           
          }*/
          :host img{
            filter: invert(1);
            width: 2em;
            cursor: pointer;
            padding: 0.2em;
          }
          .icon2{
            float: right !important;
          }
          .icon1{
            float: left !important;
          }
          ul {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            text-align: center;
            height: 2.5em;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: initial;
            margin-top: -0.5em;
            margin-left: -0.5em;
            margin-right: -0.5em;

          }
          li {
            display:inline-block;
          }
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          li a:hover {
            background-color: #111;
          }
        </style>
        <ul>
          <li class="icon1" >
            <img src="../../assets/lineas.svg">
          </li>
          <li><a class="active" href="#home">[[prop1]]</a></li>
          <li class="icon2"><img  src="../../assets/search.svg"></li>
        </ul>
        
      </template>    
  <script>
    /**
     * `header-liz`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderLiz extends Polymer.Element {
      static get is() { return 'header-liz'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-liz'
          }
        };
      }
    }

    window.customElements.define(HeaderLiz.is, HeaderLiz);
  </script>
</dom-module>
